<header class="stephany__header-footer">
    <div class="container">
        <p class="stephany">{{content.name}}</p>

        <div>
            <a tabindex="0" href="mailto:{{content.email}}" title="Email {{content.name}}"><img src="assets/images/email--new.svg" alt=""></a>
            <a tabindex="0" href="{{content.linkedin}}" title="Find {{content.name}} on LinkedIn" rel="noopener noreferrer" target="_blank"><img src="assets/images/logo--linkedin.svg" alt=""></a>
        </div>
    </div>
</header>