<section class="stephany__content stephany__speaking">
    <div class="container">
        <h2>Speaking & Exhibitions.</h2>
        {% for copy in content.speaking %}
            <p>{{copy | safe}}</p>
        {% endfor %}
    </div>
</section>