/* ==== CSS BASE ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:focus {
  outline: 0; }

button {
  background-color: transparent;
  border: 0;
  outline: 0; }

ul {
  list-style: none; }

img,
picture,
video,
svg {
  display: block;
  width: 100%;
  max-width: 100%; }

img[src^="//bea4.cnn.com/"],
img[src^="//bea4.v.fwmrm.net/"] {
  display: none !important; }

a {
  outline: 0; }

p {
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 1.5; }

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/montserrat-v11-latin-300.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat Light"), local("Montserrat-Light"), url(../fonts/montserrat-v11-latin-300.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v11-latin-300.woff2) format("woff2"), url(../fonts/montserrat-v11-latin-300.woff) format("woff"), url(../fonts/montserrat-v11-latin-300.ttf) format("truetype"), url(../fonts/montserrat-v11-latin-300.svg#Montserrat) format("svg");
  /* Legacy iOS */ }
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-v11-latin-regular.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/montserrat-v11-latin-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v11-latin-regular.woff2) format("woff2"), url(../fonts/montserrat-v11-latin-regular.woff) format("woff"), url(../fonts/montserrat-v11-latin-regular.ttf) format("truetype"), url(../fonts/montserrat-v11-latin-regular.svg#Montserrat) format("svg");
  /* Legacy iOS */ }
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/montserrat-v11-latin-500.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(../fonts/montserrat-v11-latin-500.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v11-latin-500.woff2) format("woff2"), url(../fonts/montserrat-v11-latin-500.woff) format("woff"), url(../fonts/montserrat-v11-latin-500.ttf) format("truetype"), url(../fonts/montserrat-v11-latin-500.svg#Montserrat) format("svg");
  /* Legacy iOS */ }
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/montserrat-v11-latin-600.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(../fonts/montserrat-v11-latin-600.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v11-latin-600.woff2) format("woff2"), url(../fonts/montserrat-v11-latin-600.woff) format("woff"), url(../fonts/montserrat-v11-latin-600.ttf) format("truetype"), url(../fonts/montserrat-v11-latin-600.svg#Montserrat) format("svg");
  /* Legacy iOS */ }
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none; }

@media only screen and (min-width: 768px) {
  body::before {
    content: 'desktop'; } }
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #F7F7F7;
  color: #222;
  padding-top: 85px;
  min-width: 320px; }

::-moz-selection {
  background: #E7E8FA; }

::selection {
  background: #E7E8FA; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: "cnnmoney-icons";
  src: url(../fonts/cnnmoney-icons.eot);
  src: url(../fonts/cnnmoney-icons.eot?#iefix) format("embedded-opentype"), url(../fonts/cnnmoney-icons.woff) format("woff"), url(../fonts/cnnmoney-icons.ttf) format("truetype"), url(../fonts/cnnmoney-icons.svg?#cnnmoney-icons) format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "cnnmoney-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle; }

.icon--cnn-money {
  position: relative;
  line-height: 1; }

.icon--cnn-money:before {
  content: "\f109"; }

.icon--cnn-money:after {
  content: "\f124";
  font-size: 1.5em;
  position: absolute;
  top: 0.20em;
  left: 0.778em; }

/* Classes */
.icon--arrow-down:before {
  content: "\f101"; }

.icon--arrow-left:before {
  content: "\f102"; }

.icon--arrow-line-down:before {
  content: "\f103"; }

.icon--arrow-line-up:before {
  content: "\f104"; }

.icon--arrow-right:before {
  content: "\f105"; }

.icon--arrow-up:before {
  content: "\f106"; }

.icon--checkmark:before {
  content: "\f107"; }

.icon--close:before {
  content: "\f108"; }

.icon--cnn-logo:before {
  content: "\f109"; }

.icon--cnn:before {
  content: "\f10a"; }

.icon--comment:before {
  content: "\f10b"; }

.icon--embed:before {
  content: "\f10c"; }

.icon--social-embed:before {
  content: "\f10c"; }

.icon--expand-close:before {
  content: "\f10d"; }

.icon--expand-open:before {
  content: "\f10e"; }

.icon--follow:before {
  content: "\f10f"; }

.icon--globe:before {
  content: "\f110"; }

.icon--home:before {
  content: "\f111"; }

.icon--link:before {
  content: "\f112"; }

.icon--social-link:before {
  content: "\f112"; }

.icon--log-in:before {
  content: "\f113"; }

.icon--log-out:before {
  content: "\f114"; }

.icon--markets-arrow-down:before {
  content: "\f115"; }

.icon--markets-arrow-up:before {
  content: "\f116"; }

.icon--media-end:before {
  content: "\f117"; }

.icon--media-fastforward:before {
  content: "\f118"; }

.icon--media-fullscreen:before {
  content: "\f119"; }

.icon--media-minimize:before {
  content: "\f11a"; }

.icon--media-mute:before {
  content: "\f11b"; }

.icon--media-pause:before {
  content: "\f11c"; }

.icon--media-play:before {
  content: "\f11d"; }

.icon--media-restart:before {
  content: "\f11e"; }

.icon--media-rewind:before {
  content: "\f11f"; }

.icon--media-start:before {
  content: "\f120"; }

.icon--media-stop:before {
  content: "\f121"; }

.icon--media-volume:before {
  content: "\f122"; }

.icon--menu:before {
  content: "\f123"; }

.icon--money:before {
  content: "\f124"; }

.icon--profile:before {
  content: "\f125"; }

.icon--quad-square:before {
  content: "\f126"; }

.icon--quote:before {
  content: "\f127"; }

.icon--rss:before {
  content: "\f128"; }

.icon--search:before {
  content: "\f129"; }

.icon--settings:before {
  content: "\f12a"; }

.icon--share-arrow:before {
  content: "\f12b"; }

.icon--social-android:before {
  content: "\f12c"; }

.icon--social-apple:before {
  content: "\f12d"; }

.icon--social-facebook:before {
  content: "\f12e"; }

.icon--social-googleplus:before {
  content: "\f12f"; }

.icon--social-instagram:before {
  content: "\f130"; }

.icon--social-linkedin:before {
  content: "\f131"; }

.icon--social-mail:before {
  content: "\f132"; }

.icon--social-more:before {
  content: "\f133"; }

.icon--social-pinterest:before {
  content: "\f134"; }

.icon--social-reddit:before {
  content: "\f135"; }

.icon--social-stumbleupon:before {
  content: "\f136"; }

.icon--social-tumblr:before {
  content: "\f137"; }

.icon--social-tvtag:before {
  content: "\f138"; }

.icon--social-twitter:before {
  content: "\f139"; }

.icon--social-vimeo:before {
  content: "\f13a"; }

.icon--social-vine:before {
  content: "\f13b"; }

.icon--social-youtube:before {
  content: "\f13c"; }

.icon--timestamp:before {
  content: "\f13d"; }

.icon--trend-down:before {
  content: "\f13e"; }

.icon--trend-flat:before {
  content: "\f13f"; }

.icon--trend-up:before {
  content: "\f140"; }

.icon--type-audio:before {
  content: "\f141"; }

.icon--type-chart:before {
  content: "\f142"; }

.icon--type-gallery:before {
  content: "\f143"; }

.icon--type-map:before {
  content: "\f144"; }

.icon--type-video-large:before {
  content: "\f145"; }

.icon--type-video:before {
  content: "\f146"; }

.gte-card {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc; }

.gte-card-inner,
.gte-card-half {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.gte-card-inner {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center; }

.gte-card.first .gte-card-inner {
  visibility: visible;
  height: 100vh; }

.gte-card-half {
  background: #fff; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.poster {
  height: 0;
  padding-bottom: 100%;
  background-color: #002EC5;
  overflow: hidden;
  position: relative; }

.poster-svg {
  width: 100%;
  padding: 20px;
  max-width: 768px; }

.poster-svg-asset {
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite; }

.info {
  padding: 20px; }

.gte-track-no {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #FF0002;
  text-transform: lowercase;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 25%; }

.gte-track-title {
  word-wrap: break-word;
  font-weight: 100;
  font-size: 26px;
  padding-bottom: 10px; }

.gte-track-desc {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5; }

.gte-track-data {
  display: none;
  position: relative;
  text-decoration: none;
  color: #FF0002;
  border: 2px solid #FF0002;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  letter-spacing: 1px;
  width: 144px;
  height: 42px;
  text-align: center; }

.gte-track-data:hover {
  background-color: #FF0002;
  color: #fff; }

.gte-track-data:hover svg {
  fill: #fff; }

.gte-track-data {
  display: block;
  position: absolute;
  z-index: 2;
  right: 10%;
  bottom: 10%; }

.gte-track-data:before {
  content: "Play";
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px; }

.is-playing .gte-track-data:before {
  content: "Pause"; }

.is-paused .gte-track-data:before {
  content: "Play"; }

.gte-track-data-play-pause {
  width: 38px;
  height: 38px;
  position: relative;
  float: right;
  display: block;
  overflow: hidden;
  border-left: 2px solid #FF0002;
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }

.gte-track-data-play-pause svg {
  fill: #FF0002;
  padding: 0;
  width: 8px;
  position: absolute;
  top: 10px;
  right: 14px; }

.gte-track-data-play-pause .pause {
  display: none; }

.is-playing .gte-track-data-play-pause .pause {
  display: block; }

.is-playing .gte-track-data-play-pause .play {
  display: none; }

.gte-track-coming-soon {
  display: none;
  padding-bottom: 10px;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  font-weight: 500;
  color: #002EC5; }

@media only screen and (min-width: 768px) {
  body {
    background-color: #002EC5;
    padding-top: 0; }

  .gte-card {
    height: 100vh;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .gte-card-inner {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    height: 100vh;
    visibility: hidden;
    overflow: hidden; }

  .gte-card:first-of-type .gte-card-inner {
    visibility: visible; }

  .gte-card-inner > * {
    visibility: visible; }

  .gte-card-half {
    height: 100vh !important;
    width: 50%;
    position: absolute;
    top: 0;
    background-color: #002EC5; }

  .poster {
    padding-bottom: 0; }

  .gte-track-data {
    right: auto;
    top: auto;
    left: 40%;
    top: 40%; }

  .poster-svg {
    position: absolute;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px; }

  .gte-track-no {
    font-size: 36px;
    top: 20%; }

  .gte-track-info {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 768px;
    padding: 20px;
    color: #fff; }

  .gte-track-coming-soon {
    color: #fff; }

  .gte-track-title,
  .gte-track-desc {
    opacity: 0.75;
    clear: both; }

  .gte-card.even .gte-card-half.poster,
  .gte-card.odd .gte-card-half.info {
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }

  .gte-card.odd .gte-card-half.poster,
  .gte-card.even .gte-card-half.info {
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }
@media screen and (min-width: 1024px) {
  .gte-track-title {
    font-size: 28px; }

  .gte-track-desc {
    font-size: 20px; }

  .gte-track-no {
    font-size: 40px; } }
.gte-audio-bar {
  position: fixed;
  bottom: -100px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  width: 100%; }

.audio-bar-is-visible {
  padding-bottom: 100px; }

.gte-audio-bar.is-visible {
  bottom: 0;
  opacity: 1; }

.audiojs audio {
  display: none; }

.audiojs {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #444147;
  padding: 20px 20px 15px 20px;
  max-height: 100px;
  overflow: hidden; }

.audiojs-btns {
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  width: 100%; }

.audiojs-play-pause {
  width: 33.333%;
  float: left; }

.audiojs-play,
.audiojs-pause {
  background-color: #333;
  width: 32px;
  height: 32px;
  padding: 11px;
  margin: 0 auto; }

.audiojs-play svg,
.audiojs-pause svg {
  fill: #fff;
  position: relative;
  top: -5px; }

.audiojs-next,
.audiojs-prev {
  width: 33.333%;
  float: left; }

.audiojs-next small {
  float: right; }

.audiojs-next small,
.audiojs-prev small {
  display: block;
  background-color: #333;
  width: 32px;
  height: 32px;
  padding: 9px; }

.audiojs-next svg,
.audiojs-prev svg {
  fill: #fff;
  position: relative;
  top: 1px; }

.audiojs-play {
  display: block; }

.audiojs-pause {
  display: none; }

.audiojs-scrubber {
  position: absolute;
  width: 100%;
  background: #404040;
  height: 5px;
  overflow: hidden;
  top: 0;
  left: 0; }

.audiojs-progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 5px;
  width: 0px;
  background: #FF0002;
  z-index: 1; }

.audiojs-loaded {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2px;
  width: 0px;
  background: #404040; }

.audiojs-title {
  color: #fff;
  opacity: 0.75;
  width: 100%;
  padding-right: 100px;
  margin-bottom: 15px; }

#audiojs-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  display: block; }

.audiojs-time {
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 1px;
  opacity: 0.75; }

.audiojs-time em {
  color: #fff;
  font-style: normal; }

.audiojs-time strong {
  font-weight: 100; }

.audiojs--is-playing .audiojs-play,
.audiojs--is-playing .audiojs-loading,
.audiojs--is-playing .audiojs-error {
  display: none; }

.audiojs--is-playing .audiojs-pause {
  display: block; }

@media only screen and (min-width: 768px) {
  .audiojs-title {
    position: absolute;
    top: 6px;
    left: 20px; }

  .audiojs-time {
    top: 6px; } }
.audiojs-error-message {
  display: none; }

.overflow-hidden {
  overflow: hidden; }

.gte-header {
  position: fixed;
  background-color: #002EC5;
  padding: 0 20px;
  left: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding-bottom: 4px; }

.cnn-logo {
  width: 50px; }

.gte-logotype {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px; }

@media screen and (min-width: 375px) {
  .gte-logotype {
    font-size: 24px; } }
.gte-nav-btn:before,
.gte-nav-btn:after {
  position: absolute;
  left: 6px;
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  background: #FF0002;
  transition: transform 200ms, top 200ms, background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.gte-nav-btn:before {
  top: 12px; }

.gte-nav-btn:after {
  top: 20px; }

.gte-nav-btn:hover:before,
.gte-nav-btn:hover:after {
  background-color: #fff; }

.gte-nav-btn.is-close-btn:before {
  -webkit-transform: rotate(45deg) scale(0.8);
  transform: rotate(45deg) scale(0.8);
  height: 3px;
  top: 15px; }

.gte-nav-btn.is-close-btn:after {
  -webkit-transform: rotate(-45deg) scale(0.8);
  transform: rotate(-45deg) scale(0.8);
  height: 3px;
  top: 15px; }

.gte-nav {
  background: #002EC5;
  z-index: 2;
  position: fixed;
  top: 85px;
  right: 0;
  width: 100vw;
  z-index: 10;
  height: calc(100vh - 85px);
  overflow-y: scroll;
  transform: translateX(100%);
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }

.gte-nav.is-visible {
  transform: translateX(0); }

.gte-nav-inner {
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 768px; }

.gte-nav-item {
  display: block;
  color: #fff;
  border-bottom: 1px dotted #445ECC;
  text-decoration: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: opacity 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: opacity 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: opacity 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  cursor: pointer;
  font-size: 16px; }

.gte-nav-item:nth-child(2) {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms; }

.gte-nav-item:nth-child(3) {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms; }

.gte-nav-item:nth-child(4) {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms; }

.gte-nav-item:nth-child(5) {
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms; }

.gte-nav-item:nth-child(6) {
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms; }

.gte-nav-item:nth-child(7) {
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms; }

.gte-nav-item:nth-child(8) {
  -webkit-transition-delay: 800ms;
  -moz-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms; }

.gte-nav-item:nth-child(9) {
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms; }

.gte-nav-item:nth-child(10) {
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms; }

.gte-nav-item:nth-child(11) {
  -webkit-transition-delay: 1100ms;
  -moz-transition-delay: 1100ms;
  -o-transition-delay: 1100ms;
  transition-delay: 1100ms; }

.gte-nav-item:nth-child(12) {
  -webkit-transition-delay: 1200ms;
  -moz-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  transition-delay: 1200ms; }

.gte-nav.is-visible .gte-nav-item {
  opacity: 1; }

.gte-section h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 2.6rem; }

.gte-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 10;
  height: 100vh;
  overflow-y: scroll;
  transform: translateX(100%);
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  color: #fff;
  margin-top: 85px; }

.gte-article {
  max-width: 768px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px; }

.gte-about {
  background-color: #002EC5; }

.gte-credits {
  background-color: #002EC5; }

.gte-modal.is-visible {
  transform: translateX(0); }

.gte-ui-btn {
  width: 38px;
  height: 38px;
  border: 2px solid #FF0002;
  padding: 8px;
  top: 14px;
  right: 20px;
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75), opacity 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75), opacity 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75), opacity 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75), opacity 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  cursor: pointer;
  position: fixed;
  z-index: 3;
  border-radius: 0; }

.gte-ui-btn:hover {
  background-color: #FF0002; }

.gte-ui-btn svg {
  fill: #FF0002;
  -webkit-transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }

.gte-ui-btn:hover svg {
  fill: #fff; }

.gte-nav-btn {
  opacity: 1; }

.gte-back-btn,
.modal-is-visble .gte-nav-btn {
  opacity: 0;
  pointer-events: none; }

.modal-is-visble .gte-back-btn,
.gte-nav-btn {
  opacity: 1;
  pointer-events: auto; }

.gte-article-heading {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #FF0002; }

.gte-article-paragraph-last {
  position: relative; }

.gte-article-paragraph-last:after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF0002; }

.gte-share-btn {
  position: relative;
  padding-left: 28px; }

.gte-share-btn svg {
  fill: #fff;
  width: 24px;
  position: absolute;
  top: 6px;
  left: 0; }

.premium-buisness-logo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 36px;
  line-height: 1;
  height: 36px;
  overflow: hidden;
  display: block; }

.premium-buisness-logo .icon--money {
  position: relative;
  font-size: 65px;
  top: 18px;
  left: 8px; }

.gte-terms {
  color: #fff;
  text-decoration: none;
  opacity: 0.5; }

small.gte-terms {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 1.5; }

a.gte-terms {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px; }

.gte-credit {
  margin-bottom: 20px; }

.gte-credit-heading {
  font-weight: 400;
  font-size: 20px; }

.gte-credit-subheading {
  text-transform: lowercase;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px; }

.gte--share-button {
  display: inline-block;
  position: relative;
  color: #FF0002;
  border: 2px solid #FF0002;
  width: 38px;
  height: 38px;
  margin-top: 10px;
  margin-right: 5px;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: background-color 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  padding: 6px; }

.gte--share-button:hover {
  background-color: #FF0002;
  color: #fff;
  cursor: pointer; }

.gte--share-button svg {
  fill: #FF0002;
  width: 24px;
  -webkit-transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: fill 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }

.gte--share-button:hover svg {
  fill: #fff; }