---
layout: base
title: Ava, AI Sales Engineer
permalink: /portfolio/ava-ai-sales-engineer/
---

<section class="padding-top-64 padding-bottom-64">
	<div class="container">
	    <h2 class="padding-bottom-16 text-center">{{site.data.ava.title}}</h2>
	    <figure class="border-secondary">
	        <img alt="" src="/assets/images/{{site.data.ava.hero}}" alt="">
	    </figure>
	</div>
</section>

    <section class="background-secondary padding-top-64 padding-bottom-64">
        <div class="container justify-center">
            <div class="container--xsmall">
                <h3>Problem</h3>
                {% for item in site.data.ava.problem.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}

                <ul class="padding-top-16">
                {% for item in site.data.ava.problem.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="padding-top-64 padding-bottom-64">
        <div class="container container--two-column"> 
            <div class="left">
                <h3>Discovery & Strategy</h3>
                {% for item in site.data.ava.discovery.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}

                <ul class="padding-top-16">
                {% for item in site.data.ava.discovery.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="right">
                <figure>
                   <a href="/assets/images/{{site.data.ava.discovery.img}}" data-fancybox="ava-discovery-strategy"><img alt="" src="/assets/images/{{site.data.ava.discovery.img}}"></a>
                    <a style="display: none;" href="/assets/images/ava-rapid.png" data-fancybox="ava-discovery-strategy">Ava Rapid Design Iterations</a>
                </figure>
            </div>      
        </div>
    </section>

     <section class="background-secondary padding-top-64 padding-bottom-64">
        <div class="container justify-center">
            <div class="container--xsmall">
                <h3>Solution</h3>
                {% for item in site.data.ava.solution.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}

                <ul class="padding-top-16">
                {% for item in site.data.ava.solution.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>

     <section class="padding-top-64 padding-bottom-64">
        <div class="container container--two-column"> 
            <div class="left">
                <h3>Design</h3>
                {% for item in site.data.ava.design.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                <ul class="padding-top-16">
                	{% for item in site.data.ava.design.samples %}
                	<li><a href="/assets/images/{{item.href}}" title="" data-fancybox="{{item.fancybox}}">{{item.text}}</a></li>
                	{% endfor %}
                	<a style="display: none" href="/assets/images/how-ava-learns-2.png" title="" data-fancybox="ava-how-ava-learns">How Ava Learns</a>
            	</ul>
            </div>
            <div class="right">
                <figure>
                   <a href="/assets/images/{{site.data.ava.design.img}}" data-fancybox="ava-design"><img alt="" src="/assets/images/{{site.data.ava.design.img}}"></a>
                </figure>
            </div>      
        </div>
    </section>

    <section class="padding-top-64 padding-bottom-64">
        <div class="container container--two-column">
            <div class="left">
                <figure>
                   <a href="/assets/images/{{site.data.ava.delivery.img}}" data-fancybox="ava-delivery"><img alt="" src="/assets/images/{{site.data.ava.delivery.img}}"></a>
                </figure>
            </div>
            <div class="right">
                <h3>Design Delivery</h3>
                {% for item in site.data.ava.delivery.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
            </div>   
        </div>
    </section>

    <section class="background-secondary padding-top-64 padding-bottom-64">
        <div class="container justify-center">
            <div class="container--xsmall">
                <h3>Measuring Impact</h3>
                {% for item in site.data.ava.validation.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                 <ul class="padding-top-16">
                {% for item in site.data.ava.validation.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>
