---
layout: base
title: Demo Automation
permalink: /portfolio/demo-automation/
---


<section class="padding-top-64 padding-bottom-64">
	<div class="container">
	    <h2 class="padding-bottom-16 text-center">{{site.data.demoAutomation.title}}</h2>
	    <figure class="border-secondary">
	        <img alt="" src="/assets/images/{{site.data.demoAutomation.hero}}" alt="">
	    </figure>
	</div>
</section>

    <section class="background-secondary padding-top-64 padding-bottom-64">
        <div class="container justify-center">
            <div class="container--xsmall">
                <h3>Problem</h3>
                {% for item in site.data.demoAutomation.problem.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                <ul class="padding-top-16">
                {% for item in site.data.demoAutomation.problem.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="padding-top-64 padding-bottom-64">
        <div class="container container--two-column"> 
            <div class="left">
                <h3>Discovery</h3>
                {% for item in site.data.demoAutomation.discovery.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                <ul class="padding-top-16">
                {% for item in site.data.demoAutomation.discovery.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="right">
                <figure>
                   <a href="/assets/images/{{site.data.demoAutomation.discovery.img}}" data-fancybox="demo-automation-discovery"><img alt="" src="/assets/images/{{site.data.demoAutomation.discovery.img}}"></a>
                   <a style="display:none" href="/assets/images/process-discovery-3.png" data-fancybox="demo-automation-discovery">demo-automation-discovery</a>
                </figure>
            </div>      
        </div>
    </section>

    <section class="padding-top-64 padding-bottom-64">
        <div class="container container--two-column"> 
        	<div class="left">
                <figure>
                   <a href="/assets/images/scrappy-offsite/{{site.data.demoAutomation.strategy.img}}" data-fancybox="demo-automation-strategy"><img alt="" src="/assets/images/scrappy-offsite/{{site.data.demoAutomation.strategy.img}}"></a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0436.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0437.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0438.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0440.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0412.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0413.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0414.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0418.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0431.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                   <a style="display: none" href="/assets/images/scrappy-offsite/IMG_0433.jpg" title="" data-fancybox="demo-automation-strategy">demo-automation-strategy</a>
                </figure>
            </div>
            <div class="right">
                <h3>Strategy</h3>
                {% for item in site.data.demoAutomation.strategy.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                <ul class="padding-top-16">
                {% for item in site.data.demoAutomation.strategy.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>


     <section class="background-secondary padding-top-64 padding-bottom-64">
        <div class="container justify-center">
            <div class="container--xsmall">
                <h3>Solution</h3>
                {% for item in site.data.demoAutomation.solution.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                <ul class="padding-top-16">
                {% for item in site.data.demoAutomation.solution.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>

     <section class="padding-top-64 padding-bottom-64">
        <div class="container container--two-column"> 
            <div class="left">
                <h3>Design</h3>
                {% for item in site.data.demoAutomation.design.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                <ul class="padding-top-16">
                {% for item in site.data.demoAutomation.design.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="right">
                <figure>
                   <a href="/assets/images/{{site.data.demoAutomation.design.img}}" data-fancybox="demo-automation-design"><img alt="" src="/assets/images/{{site.data.demoAutomation.design.img}}"></a>
                   <a style="display: none;" href="/assets/images/process-design-2.png" data-fancybox="demo-automation-design">demo-automation-design</a>
                </figure>
            </div>      
        </div>
    </section>

    <section class="padding-top-64 padding-bottom-64">
        <div class="container container--two-column">
            <div class="left">
                <figure>
                   <a href="/assets/images/{{site.data.demoAutomation.delivery.img}}" data-fancybox="demo-automation-delivery"><img alt="" src="/assets/images/{{site.data.demoAutomation.delivery.img}}"></a>
                   <a style="display: none;" href="/assets/images/process-design-delivery-5.png" data-fancybox="demo-automation-delivery">demo-automation-delivery</a>
                    <a style="display: none;" href="/assets/images/process-design-delivery-4.png" data-fancybox="demo-automation-delivery">demo-automation-delivery</a>
                    <a style="display: none;" href="/assets/images/process-design-delivery-3.png" data-fancybox="demo-automation-delivery">demo-automation-delivery</a>
                    <a style="display: none;" href="/assets/images/process-design-delivery-7.png" data-fancybox="demo-automation-delivery">demo-automation-delivery</a>
                </figure>
            </div>
            <div class="right">
                <h3>Design Delivery</h3>
                {% for item in site.data.demoAutomation.delivery.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
            </div>   
        </div>
    </section>

    <section class="background-secondary padding-top-64 padding-bottom-64">
        <div class="container justify-center">
            <div class="container--xsmall">
                <h3>Measuring Impact</h3>
                {% for item in site.data.demoAutomation.validation.text %}
                <p class="padding-top-16">{{item}}</p>
                {% endfor %}
                <ul class="padding-top-16">
                {% for item in site.data.demoAutomation.validation.points %}
                    <li class="padding-top-16">{{item}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>
