---
layout: base
title: Portfolio
permalink: /portfolio/
introHeading: Hello. I'm Stephany 👋
introText: I'm a human-centered designer working at the intersection of AI and user experience. Currently leading product design at Vivun, with previous roles at IBM and CNN.
---

<section class="padding-top-64 padding-bottom-64">
	<div class="container container--hello">
		<div class="container--small">
			<h2>{{page.introHeading}}</h2>
			<h3 class="padding-top-16">{{page.introText}}</h3>
		</div>
		<div class="container--xsmall padding-top-32">
			<figure>
				<img src="/assets/images/unxpctd/IMG_2436.PNG">
			</figure>
			<small class="padding-top-16">☝️ That's me, conquering my fear of public speaking.</small>
		</div>
	</div>
</section>

<!-- <section class="padding-top-64 padding-bottom-64 background-secondary">
	<div class="container container--hello">
		<div class="container--small">
			<small>About</small>

			<h3 class="padding-top-16">Drawing from my background as both a frontend developer and UX designer, I bring a holistic perspective to product design that bridges business goals, technology, and user needs.</h3>

			<h3 class="padding-top-16">I'm no stranger to ambiguity and am genuinely curious about people - how they use technology to solve problems and get work done. My process emphasizes user research and cross-functional team collaboration. Having worked in a fast-paced newsroom, marketing studio, and tech startup, I understand the importance of timing and thoughtfully cutting through complexity while maintaining consistency and quality.</h3>
		</div>
	</div>
</section> -->

<section class="padding-top-64 padding-bottom-64">
	<div class="container">
		<div class="container--small padding-bottom-32">
			<!-- <small>Recent Work</small> -->
			<h3 class="padding-top-16">My product design work demonstrates a methodical approach: from user research to implementation with a growth led mindset.</h3>
		</div>

		{% for item in site.data.work %}
    	<div class="container--two-column{% if forloop.index == 1 %} padding-bottom-64{% endif %}">
	    	<div class="left">
	    		<figure class="border-secondary">
	    			<img src="/assets/images/{{item.img}}" alt="">
	    		</figure>
	    	</div>
	    	<div class="right">
	    		<h4 class="padding-bottom-16">{{item.title}}</h4>
	    		<p class="padding-bottom-16">{{item.text}}</p>
	    		<a href="{{item.cta.href}}" title="{{item.title}}">Explore the work</a>
	    		<div class="container--pills padding-top-32">
					{% for x in item.skills %}
					<div class="pill border-tertiary">{{x}}</div>
					{% endfor %}
				</div>
	    	</div>
		</div>
		{% endfor %}
	</div>
</section>

<section class="background-secondary padding-top-64 padding-bottom-64">
    <div class="container padding-bottom-32">
    	<div class="container--small">
    		<!-- <small>Process</small> -->
        	<h3 class="padding-top-16">My process emphasizes user research and cross-functional team collaboration. I've learned to embrace ambiguity, turning it into something concrete based on evidence, cognitive psychology, and iterative feedback loops.</h3>
        </div>
    </div>
    <div class="container container--tabs">
    	<nav class="tabs-nav padding-bottom-32">
    		{% for item in site.data.process %}
    		<button class="button--tab{% if forloop.index == 1 %} active{% endif %}" data-tab="{{item.href}}">{{item.title}}</button>
    		{% endfor %}
    	</nav>

    	{% for item in site.data.process %}
		<div class="tab-content{% if forloop.index == 1 %} active{% endif %}" id="{{item.href}}">
			<div class="container container--two-column">
	  			<div class="left">
	  				<figure class="border-tertiary">
						<a href="/assets/images/{{item.img}}" data-fancybox="process--{{item.title}}">
							<img src="/assets/images/{{item.img}}" alt="" />
						</a>
					</figure>
	  			</div>
	  			<div class="right">
	  				{% for x in item.text %}
	  				<p class="padding-bottom-16">{{x}}</p>
	  				{% endfor %}

	  				<div class="container--pills">
	  					{% for x in item.skills %}
	  					<div class="pill border-tertiary">{{x}}</div>
	  					{% endfor %}
	  				</div>
	  			</div>
	  		</div>
	  	</div>
		{% endfor %}
	</div>
</section>

<section class="padding-top-64 padding-bottom-64">
	<div class="container">
		<div class="container padding-bottom-32">
			<div class="container--small">
				<!-- <small>Principles</small> -->
        		<h3 class="padding-top-16">Design principles serve as a compass, guiding designers toward meaningful solutions and tangible results. Here are my personal principles.</h3>
        	</div>
    	</div>
    	<div class="container container--principles">
    		{% for item in site.data.principles %}
    		<div class="principle border-secondary">
                <h4 class="padding-bottom-16">{{item.title}}</h4>
                <p>{{item.text}}</p>
            </div>
    		{% endfor %}
        </div>
	</div>
</section>

<section class="background-secondary padding-top-64 padding-bottom-64">
    <div class="container padding-bottom-32">
    	<!-- <small>Feedback</small> -->
        <h3 class="padding-top-16">Kind words from leaders and teammates</h3>
    </div>
    <div class="container container--nice">
	{% for item in site.data.nice %}
	  <figure>
	  	<a href="/assets/images/{{item.img}}" title="" data-fancybox="nice">
	  		<img src="/assets/images/{{item.img}}" alt="{{item.alt}}">
	  	</a>
	  </figure>
	{% endfor %}
	</div>
</section>