<section class="stephany__content stephany__awards">
    <div class="container">
        <h3>Awards & Recognitions.</h3>
        {% for copy in index.awards %}
            <p>{{copy | safe}}</p>
        {% endfor %}
    </div>
</section>