<section class="stephany__content stephany__awards">
    <div class="container">
        <h3>Education.</h3>
        {% for copy in index.education %}
            <p>{{copy | safe}}</p>
        {% endfor %}
    </div>
</section>