<section class="stephany__content stephany__awards">
    <div class="container">
        <h2>Education.</h2>
        {% for copy in index.education %}
            <p>{{copy | safe}}</p>
        {% endfor %}
    </div>
</section>