<header class="stephany__header-footer">
    <div class="container">
        <h1 class="stephany"><a href="https://stephanycardet.com">{{index.name}}</a></h1>

        <div>
            <a tabindex="0" href="mailto:{{index.email}}" title="Email {{index.name}}"><img src="/assets/images/email--new.svg" alt=""></a>
            <a tabindex="0" href="{{index.linkedin}}" title="Find {{index.name}} on LinkedIn" rel="noopener noreferrer" target="_blank"><img src="/assets/images/logo--linkedin.svg" alt=""></a>
        </div>
    </div>
</header>