<section class="stephany__content stephany__hero">
    <div class="container">
        <h2>{{index.description}}</h2>
        {% for copy in index.hero %}
            <p>{{copy | safe}}</p>
        {% endfor %}
    </div>
</section>