<section class="stephany__content stephany__hero">
    <div class="container">
       <p>Hello there,<br>I'm Stephany. 👋</p>
       <p>I'm a Ux Designer-Developer with ten years of experience crafting digital experiences and products to help brands maximize their impact while championing usability and accessibility.</p>

       <p>I practice <span class="strikethrough">user-centered</span> human-first design at the intersection of user experience, user interface, and front-end web development. I believe in sacrificing complexity for scalability, testing at every stage of the design lifecycle, and that setbacks and constraints are annoying but lead to innovations.</p>

       <p>Presently, I'm a Product & Ux Lead at <a tabindex="0" href="https://www.ibm.com/" rel="noopener noreferrer" target="_blank" title="Visit IBM.com"><span>IBM</span></a>, where I lead a small team that researches, designs, and develops repeatable formats for adoption across our marketing studio. Previously, I was at <a tabindex="0" href="https://cnn.com" rel="noopener noreferrer" target="_blank" title="Visit CNN.com"><span>CNN</span></a>, where I spent the bulk of my career starting as a Ui Developer and leaving as a Senior Ux Designer-Developer.</p>

       <p>As a curious person, I'm interested in applying my design practice in different business types to expand my experience. Likewise, I love side projects and consulting. If you think we might be a good match, don't be shy and <a tabindex="0" href="mailto:{{index.email}}" title="Email {{index.name}}"><span>reach out</span></a>.</p>
    </div>
</section>