<section class="stephany__content stephany__nice">
    <div class="container">
        <h3>Nice things people<br>have said about me.</h3>
        
        <div class="stephany__project_stills">
        
        	<figure class="stephany__project_stills__mobile">
                <img src="/assets/images/nice/35435468.png">
            </figure>
        	<figure class="stephany__project_stills__mobile">
                <img src="/assets/images/nice/IMG_0670.PNG">
            </figure>
            <figure class="stephany__project_stills__mobile">
                <img src="/assets/images/nice/IMG_0691.PNG">
            </figure>
            <figure class="stephany__project_stills__desktop">
                <img src="/assets/images/nice/IMG_2908.jpeg">
            </figure>
            <figure class="stephany__project_stills__desktop">
                <img src="/assets/images/nice/IMG_2909.jpeg">
            </figure>
        </div>
    </div>
</section>