<section class="stephany__content stephany__speaking">
    <div class="container">
        <h3>Speaking & Exhibitions.</h3>
        {% for copy in index.speaking %}
            <p>{{copy | safe}}</p>
        {% endfor %}
    </div>
</section>