<section class="stephany__content stephany__work">
    <div class="container">
        <h3>Portfolio.</h3>
        {% for x in index.work %}
           <div class="stephany__project {{x.project.name | slug}}">
                {# {{ x.project.name | slug }} #}
                <button tabindex="0" data-project-name class="stephany__project_name">
                    <span>{{x.project.name}}</span>
                    <svg vxmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><polygon points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/></svg>
                </button>
                <article class="stephany__project_desc" data-project-desc>

                {% if x.project.background %}
                    <p class="stephany__project_desc__heading">Project background</p>
                     {% for y in x.project.background %}
                        <p>{{y | safe}}</p>
                    {% endfor %}
                {% endif %}

                {% if x.project.requirements %}
                    <p class="stephany__project_desc__heading">Project requirements</p>
                     {% for y in x.project.requirements %}
                        <p>{{y | safe}}</p>
                    {% endfor %}
                {% endif %}

                {% if x.project.process %}
                    <p class="stephany__project_desc__heading">Process recap</p>
                     {% for y in x.project.process %}
                        <p>{{y | safe}}</p>
                    {% endfor %}
                {% endif %}

                <p class="stephany__project_desc__heading">Role</p>
                <p>{{x.project.role}}.</p>

                {% if x.project.url %}
                    {% if (x.project.name | slug) == 'like-share-elect-@-newseum' %}
                        <p><a class="stephany__project_url" tabindex="0" href="{{x.project.url}}" target="_blank" rel="noopener noreferrer"><span>Learn more about the exhibit</span> <svg viewBox="0 0 32 32"><path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"/><polygon points="20 2 20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2"/></svg></a></p>
                    {% else %}
                        <p><a class="stephany__project_url" tabindex="0" href="{{x.project.url}}" target="_blank" rel="noopener noreferrer"><span>See the work</span> <svg viewBox="0 0 32 32"><path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"/><polygon points="20 2 20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2"/></svg></a></p>
                    {% endif %}
                {% endif %}

                {% if (x.project.name | slug) == 'like-share-elect-@-newseum' %}
                    <div class="stephany__project_stills">
                        <figure class="stephany__project_stills__desktop">
                            <img class="lazyload" data-src="/assets/images/like-share-elect/DC4FTPvU0AE6jhO.jpeg" alt="Photogrpah of the exhibit Like, Share, Elect">
                        </figure>
                    </div>
                {% endif %}

                {% if (x.project.name | slug) == 'citizen-by-cnn-game-pack' %}
                    <div class="stephany__project_stills">
                        <figure class="stephany__project_stills__desktop">
                            <video controls>
                                <source src="/assets/images/citizen-by-cnn/house-senate-game.mp4" type="video/mp4">
                            </video>
                        </figure>
                        <figure class="stephany__project_stills__desktop">
                            <video controls>
                                <source src="/assets/images/citizen-by-cnn/politics-quote-game.mp4" type="video/mp4">
                            </video>
                        </figure>
                        <figure class="stephany__project_stills__desktop">
                            <video controls>
                                <source src="/assets/images/citizen-by-cnn/presidential-candidates-game.mp4" type="video/mp4">
                            </video>
                        </figure>
                        <figure class="stephany__project_stills__desktop">
                            <video controls>
                                <source src="/assets/images/citizen-by-cnn/us-citizenship-exam.mp4" type="video/mp4">
                            </video>
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'cnn-daily-politics-quiz' %}
                    <div class="stephany__project_stills">
                       <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/daily-politics-quiz/daily-politics-quiz-1.png" alt="Wireframes for CNN Daily Politics Quiz">
                        </figure>
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/daily-politics-quiz/daily-politics-quiz-2.png" alt="Wireframes for CNN Daily Politics Quiz">
                        </figure>
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/daily-politics-quiz/daily-politics-quiz-3.png" alt="Wireframes for CNN Daily Politics Quiz">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'to-the-moon' %}
                    <div class="stephany__project_stills">
                        <figure class="stephany__project_stills__desktop">
                            <img class="lazyload" data-src="/assets/images/to-the-moon/to-the-moon.png" alt="Screenshot of PDF cover for To The Moon">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'neil-bot' %}
                    <div class="stephany__project_stills">
                        <figure class="stephany__project_stills__desktop">
                            <img class="lazyload" data-src="/assets/images/neil-bot/neil-bot.png" alt="Screenshot of PDF cover for Neil Bot">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'getting-to-even' %}
                    <div class="stephany__project_stills stephany__project_election-2000">
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/getting-to-even/gte-1.png" alt="Screen shots of the interactive experience, Getting To Even">
                        </figure>
                        
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/getting-to-even/gte-2.png" alt="Screen shots of the interactive experience, Getting To Even">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/getting-to-even/gte-3.png" alt="Screen shots of the interactive experience, Getting To Even">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/getting-to-even/gte-4.png" alt="Screen shots of the interactive experience, Getting To Even">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'patty-has-a-gun:-the-life-and-crimes-of-patricia-hearst' %}
                    <div class="stephany__project_stills stephany__project_election-2000">
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/patty-has-a-gun/patty-1.png" alt="Screenshot of the interactive experience, Patty Has A Gun: The Life and Crimes of Patricia Hearst">
                        </figure>
                        
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/patty-has-a-gun/patty-2.png" alt="Screenshot of the interactive experience, Patty Has A Gun: The Life and Crimes of Patricia Hearst">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/patty-has-a-gun/patty-3.png" alt="Screenshot of the interactive experience, Patty Has A Gun: The Life and Crimes of Patricia Hearst">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/patty-has-a-gun/patty-4.png" alt="Screenshot of the interactive experience, Patty Has A Gun: The Life and Crimes of Patricia Hearst">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'election-2000:-overtime' %}
                    <div class="stephany__project_stills stephany__project_election-2000">
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/election-2000/01.png" alt="Screen shots of the interactive experience, Election 2000: Overtime">
                        </figure>
                        
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/election-2000/02.png" alt="Screen shots of the interactive experience, Election 2000: Overtime">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/election-2000/03.png" alt="Screen shots of the interactive experience, Election 2000: Overtime">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/election-2000/04.png" alt="Screen shots of the interactive experience, Election 2000: Overtime">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/election-2000/05.png" alt="Screen shots of the interactive experience, Election 2000: Overtime">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'state-magazine' %}
                    <div class="stephany__project_stills stephany__project_state">
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/01.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/02.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>
                        
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/03.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        {# <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/20.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/04.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/05.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/06.png" alt="Screen shots of the digital magazine, STATE">
                        </figure> #}

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/07.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/08.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/09.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        {# <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/10.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/11.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/12.png" alt="Screen shots of the digital magazine, STATE">
                        </figure> #}
 
                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/13.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/15.png" alt="Screen shots of the digital magazine, STATE">
                        </figure>

                        {# <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/state/16.png" alt="Screen shots of the digital magazine, STATE">
                        </figure> #}
		            </div>
                {% endif %}
                {% if (x.project.name | slug) == 'undocumented' %}
                    <div class="stephany__project_stills stephany__project_undocumented">
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/undocumented/04.png" alt="Screenshot of the editorial longform, Undocumented">
                        </figure>
                        
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/undocumented/05.png" alt="Screenshot of the editorial longform, Undocumented">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/undocumented/06.png" alt="Screenshot of the editorial longform, Undocumented">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/undocumented/07.png" alt="Screenshot of the editorial longform, Undocumented">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/undocumented/08.png" alt="Screenshot of the editorial longform, Undocumented">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'women-who-march' %}
                    <div class="stephany__project_stills stephany__project_women">
                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/women-who-march/01.png" alt="Screenshots of the interactive longform, Women Who March">
                        </figure>
                        
                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/women-who-march/02.png" alt="Screenshots of the interactive longform, Women Who March">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/women-who-march/03.png" alt="Screenshots of the interactive longform, Women Who March">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/women-who-march/04.png" alt="Screenshots of the interactive longform, Women Who March">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/women-who-march/06.png" alt="Screenshots of the interactive longform, Women Who March">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/women-who-march/05.png" alt="Screenshots of the interactive longform, Women Who March">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/women-who-march/08.png" alt="Screenshots of the interactive longform, Women Who March">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'picture-this' %}
                    <div class="stephany__project_stills stephany__project_picture">
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/picture-this/08.png" alt="Screenshot of the photograhy-led longform, Picture This">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/picture-this/09.png" alt="Screenshot of the photograhy-led longform, Picture This">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/picture-this/10.png" alt="Screenshot of the photograhy-led longform, Picture This">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/picture-this/01.png" alt="Screenshot of the photograhy-led longform, Picture This">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/picture-this/02.png" alt="Screenshot of the photograhy-led longform, Picture This">
                        </figure>

                        <figure class="stephany__project_stills__desktop">
                            <header><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/picture-this/03.png" alt="Screenshot of the photograhy-led longform, Picture This">
                        </figure>
                    </div>
                {% endif %}
                {% if (x.project.name | slug) == 'the-secret-lives-of-superhero-hackers' %}
                    <div class="stephany__project_stills stephany__project_hackers">
                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/01.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/02.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/03.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/04.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/05.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/06.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/09.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/07.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>

                        <figure class="stephany__project_stills__mobile">
                            <header><span></span><span></span><span></span></header>
                            <img class="lazyload" data-src="/assets/images/superhero-hackers/08.png" alt="Screen shots of the editorial series, The Secret Lives of Superhero Hackers">
                        </figure>
                    </div>
                {% endif %}
                </article>
           </div>
        {% endfor %}

        <small>Quick note - I'm currently in the process of writing robust descriptions for each of the projects above and adding new ones. Private client work and graduate work is available upon request.</small>
    </div>
</section>