<section class="stephany__photo" id="{{photo.work[3].name | lower | slug}}">
    {% for x in photo.work[3].assets %}
        <figure>
        <img alt="{{x.alt}}" srcset="../assets/images/{{photo.work[3].name | lower | slug}}/{{x.file}}-828w.jpg 828w, ../assets/images/{{photo.work[3].name | lower | slug}}/{{x.file}}-1536w.jpg 1536w, ../assets/images/{{photo.work[3].name | lower | slug}}/{{x.file}}-2048w.jpg 2048w">
            <figcaption>
                <h3><em>{{x.title}}</em> from <em>{{photo.work[3].name}}</em></h3>
                <h4>{{x.size}}, {{x.medium}}, {{x.date}}</h4>
            </figcaption>
        </figure>  
    {% endfor %}
</section>