---
---

:root {
    --primary: #303030;
    --secondary: #F7F7F9;
    --tertiary: #E5E5E6;
    --four: #636364;
    --accent: #ca228e;
    --accentPurple: #8E22C9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary);
    font-family: "DM Sans", sans-serif;
    width: 100%;
    min-width: 1024px;
}

h2 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 150%;
}

h3 {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 150%;
}


h4 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
}

p {
    line-height: 1.5;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--accent);
    transition: color ease-in-out 200ms, fill ease-in-out 200ms;
}

a:hover {
    color: var(--accentPurple);
}

a:hover svg {
    fill:var(--accentPurple);
}

ul {
    padding-left: 1rem;
    font-weight: 700;
}

button {
    font-family: 'DM Sans', Arial, sans-serif;
    border: 0;
    background: transparent;
     transition: color ease-in-out 200ms, fill ease-in-out 200ms;
}

img {
    width: 100%;
    display: block;
}

figure {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 1rem;
}

figure a img {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

figure a:hover img {
     transform: scale(1.1);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container--small {
   max-width: 768px;
}

.container--xsmall {
    max-width: 568px;
}

.text-center {
    text-align: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.justify-end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.padding-top-16 {
    padding-top: 1rem;
}

.padding-bottom-16 {
    padding-bottom: 1rem;
}

.padding-top-32 {
    padding-top: 2rem;
}

.padding-bottom-32 {
    padding-bottom: 2rem;
}

.padding-top-64 {
    padding-top: 4rem;
}

.padding-bottom-64 {
    padding-bottom: 4rem;
}

.button--icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);
    border-radius: 100%;
    color: #fff;
    transition: background 200ms ease-in-out;

    &:hover {
        background: var(--accentPurple);
        cursor: pointer;
        color: #fff;
        svg {
            fill: #fff;
        }
    }

    svg {
        fill: #fff;
        width: 1rem;
    }
}

/* Progress Bar */
.progress-container {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.75);
}

.progress-bar {
    height: 4px;
    background: var(--accent);
    width: 0%;
    transition: width 0.2s ease;
}

/* Hello */
#hello h2 {
    font-size: 4rem;
    font-weight: 300;
}

#hello p {
    font-size: 2rem;
    font-weight: 300;
}


/* Layouts */
.container--two-column {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.container--two-column .left,
.container--two-column .right {
    width: 50%;
}

.container--two-column .info {
     display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Pills */
.container--pills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.pill {
    padding: 0.5rem 0.75rem;
    border-radius: 20px;
    font-size: 0.75rem;
    color: var(--primary);
    border: 1px solid var(--secondary);
}

/* Tabs Nav */
.tabs-nav {
    display: flex;
    justify-content: space-between;
}

.button--tab {
    position: relative;
    padding: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--four);
    font-size: 1.25rem;
    font-weight: 400;
}

.button--tab:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width ease-in-out 200ms;
    background: var(--accent);
}

.button--tab:hover {
    color: var(--accent);
}

.button--tab.active {
    color: var(--primary);
}

.button--tab.active:after {
    width: 100%;
}

.button--tab.active:before {
    background: var(--accent);
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container--principles {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.principle {
    border-radius: 1rem;
    padding: 1rem;
    width: calc(50% - 1rem);
}

.container--nice {
    column-count: 4;
    column-gap: 1rem;
}

.container--nice figure {
    border: 1px solid var(--secondary);
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.footer--primary .container {
    display: flex;
    justify-content: space-between;
}

.footer--primary p {
    font-size: 0.875rem;
    color: var(--four);
}

.container--hello small {
    display: block;
    font-size: 0.875rem;
    color: var(--four);
}


@media screen and (max-width: 768px){
   .container--two-column {
        flex-direction: column;
        align-items: flex-start;
   }

   .button--tab {
        font-size: 1.25rem;
   }

   .tab-content figure {
        display: none;
   }

   .container--nice {
        column-count: 3;
   }
}


@media screen and (max-width: 475px){
    .container--principles {
        flex-direction: column;
    }

    .principle {
        width: 100%;
    }

    .button--tab {
        font-size: 1rem;
        text-wrap: nowrap;
   }

    .tabs-nav {
        width: 100%;
        overflow-x: scroll;
    }
}

@media screen and (max: 320px){
    .container--nice {
        column-count: 2;
   }
}

.container--links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns, equal width */
    gap: 1rem; /* optional: add a gap between columns */
}

.link--archive {
    padding: 1rem;
    border-radius: 1rem;
    color: var(--primary);

    &:hover {
        color: var(--accent);
    }
}

.background-secondary {
    background:var(--secondary);
}

.border-secondary {
    border: 1px solid var(--secondary);
}

.border-tertiary {
    border: 1px solid var(--tertiary);
}

.menu--primary {
    position: fixed;
    left: 1rem;
    top:1rem;
    transition: transform 200ms ease-in-out;
    background: #fff;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.15);
    z-index: 900; 
    background: #fff;
    padding: 4rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     
    height: calc(100vh - 2rem);
    width: 204px;
    transform: translateX(-220px);

    div {
        gap: 0.25rem;
        display: flex;
        flex-direction: column;
    }

    .link {
        font-size: 0.875rem;
        display: block;
        line-height: 1.5;
        color: var(--primary);

        &:hover {
            color: var(--accent);
        }
    }

    small {
        font-size: 0.75em;
        line-height: 1.5;
        display: block;
        font-weight: 900;
    }

    &.open {
        transform: translateX(0);
    }

    footer {
        display: flex;
        gap: 0.5rem;
    }

}

.button--toggle-menu {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 900;

    &:hover {
        cursor: pointer;
        background: var(--accentPurple);
    }

    svg {
        fill: currentColor;
        width: 1rem;
    }
}

.hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    p {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 125%;
        padding-bottom: 1rem;
    }

    p:first-child {
        padding-bottom: 1rem;
        padding-top: 0;
        font-size: 2.75rem;
        font-weight: 400;
    }   
}
