---
date: Last Modified
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- basic meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">

    <!-- title meta -->
    <title>{{index.title}} | {{index.name}}</title>

    <!-- description meta -->
    <meta name="description" content="{{index.description}}">
    <meta property="og:description" content="{{index.description}}">
    
    <!-- keywords meta -->
    <meta name="keywords" content="{{index.keywords}}">
    <meta name="news_keywords" content="{{index.keywords}}">
    
    <!-- author meta -->
    <meta name="author" content="{{index.name}}">
    
    <!-- url meta -->
    <link rel="canonical" href="{{index.url}}">
    <meta property="og:url" content="{{index.url}}">
    
    <!-- image meta -->
    <meta itemprop="image" content="{{index.social.image}}">
    <meta property="og:image" content="{{index.social.image}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">
    
    <!-- preconnect + preload -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    {% include "webpack.njk" %}
  </head>

  <body>
    {% include "index/header.njk" %}
    {% include "index/hero.njk" %}
    {% include "index/speaking.njk" %}
    {% include "index/awards.njk" %}
    {% include "index/education.njk" %}
    {# {% include "index/work.njk" %} #}
    {% include "index/footer.njk" %}

    <noscript id="deferred-styles">
      <link rel="stylesheet" href="assets/fonts/plex.css"/>
    </noscript>

    <script>
      // Load Plex
      var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById('deferred-styles');
      var replacement = document.createElement('div');
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
      window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
  </body>
</html>