---
date: Last Modified
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <!-- basic meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">

    <!-- title meta -->
    <title>{{index.title}} | {{index.name}}</title>

    <!-- description meta -->
    <meta name="description" content="{{index.description}}">
    <meta property="og:description" content="{{index.description}}">
    
    <!-- keywords meta -->
    <meta name="keywords" content="{{index.keywords}}">
    <meta name="news_keywords" content="{{index.keywords}}">
    
    <!-- author meta -->
    <meta name="author" content="{{index.name}}">
    
    <!-- url meta -->
    <link rel="canonical" href="{{index.url}}">
    <meta property="og:url" content="{{index.url}}">
    
    <!-- image meta -->
    <meta itemprop="image" content="{{index.social.image}}">
    <meta property="og:image" content="{{index.social.image}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">

    <!-- styles -->
    {% include "webpack.njk" %}

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  </head>

  <body>
    {% include "index/header.njk" %}
    {% include "index/hero.njk" %}
    {% include "index/work.njk" %}
    {% include "index/nice.njk" %}
    {% include "index/education.njk" %}
    {% include "index/awards.njk" %}
    {% include "index/footer.njk" %}

    <script>
        lazyload();
    </script>
  </body>
</html>