$purple: #635EE6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #161616;
    min-width: 320px;
}

a {
    color: $purple;
    transition: color ease-in 300ms;
    text-decoration: none;

    span {
        position: relative;
        &:after {
            position: absolute;
            content:'';
            background: $purple;
            width: 0;
            height: 2px;
            transition: width 300ms ease-in;
            left: 0;
            bottom: -1px;
            display: block;
        }
    }

    &:hover {
        span {
            &:after {
                width: 100%;
            }
        }
    }

    &:focus {
        outline: 0;
        span {
            &:after {
                width: 100%;
            }
        }
    }

    svg {
        fill: currentColor;
        transition: fill ease-in 300ms;
    }
}

strong {
    font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1rem;

    a {
        font-weight: 600;
    }

    &:last-child {
        padding-bottom: 0;
    }

    @media (min-width: 768px){
        font-size: 1.125rem;
    }

    .strikethrough {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #161616;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

img, video, svg {
    display: block;
    width: 100%;
    max-width: 100%;
}

video {
    &:focus {
        outline: 2px solid $purple;
    }

    &:focus-within {
        outline: 2px solid $purple;
    }
}

.container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.stephany__header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
           color: #161616;
           text-decoration: none;

           &:hover {
            h1, h2 {
                color: #635EE6;
            }

            svg {
                fill: #635EE6;
            }
           }

           &:focus {
            h1, h2 {
                color: #635EE6;
            }

            svg {
                fill: #635EE6;
            }
           }
        }

        h1, h2 {
            transition: color ease-in 300ms;
        }

        h1 {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.5;
        }

        h2 {
            font-size: .875rem;
            font-weight: 400;
        }

        div {
            display: flex;
            position: relative;

            a {
                display: block;
                width: 2.25rem;
                padding: 0.25rem;
            }
        }
    } 
}

.stephany__content {
    padding-top: 3rem;
}

.stephany__hero {
    p {
        padding-right: 1rem;
        max-width: 768px;

        &:first-child {
            font-weight: 600;
            font-size: 1.75rem;
            @media (min-width: 768px){
                font-size: 2rem;
            }
        }
    }
}

.stephany__nice,
.stephany__speaking,
.stephany__awards,
.stephany__education,
.stephany__work {
    h3 {
        font-weight: 600;
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
        @media (min-width: 768px){
            font-size: 2rem;
        }
    }
}

.stephany__speaking,
.stephany__awards,
.stephany__education {
    p {
        span {
            color: #525252;
            font-size: 0.875rem;
            @media (min-width: 768px) {
                font-size: 1rem;
            }
        }
        a {
            margin-top: 0.25rem;
            span {
                color: $purple
            }
        }
    }
}

.stephany__work {

    p {
        max-width: 768px;
    }

    small {
        font-style: italic;
        font-size: 0.875rem;
        max-width: 672px;
        display: block;
        padding-top: 1.5rem;
    }

}

.stephany__project {
    border-top: 1px solid #f4f4f4;
    max-width: 1024px;
    margin-left: -1rem;
    margin-right: -1rem;

     &.the-secret-lives-of-superhero-hackers {
        border-bottom: 1px solid #f4f4f4;
    }
}

.stephany__project_name {
    // z-index: 2;
    font-family: 'Poppins', sans-serif;
    // position: sticky;
    // top: 0;
    background: transparent;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: background 300ms ease-in, color 300ms ease-in;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: left;

    @media (min-width: 768px){
        font-size: 1.15rem;
    }

    &:hover {
        background: #f4f4f4;
    }

    &:focus {
        background: #f4f4f4;
        outline: 2px solid $purple;
    }


    svg {
        width: 1rem;
        transition: fill 300ms ease-in, transform 300ms ease-in;
    }
}

.stephany__project_desc {
    display: none;
    margin-top: 1rem;
    padding: 0 1rem;
}

.stephany__project_desc__heading {
    padding-bottom: 0.5rem;
    font-weight: 600;
}

p + .stephany__project_desc__heading  {
    padding-top: 1.5rem;
}

.stephany__project_url {
    font-weight: 600;
    margin-top: 1.5rem;
    display: inline-flex;

    svg {
        fill: currentColor;
        width: 1rem;
        margin-left: 0.5rem;
    }
}

.stephany__project_active {
    .stephany__project_desc {
        display: block;
    }

    .stephany__project_name  {
        background: #f4f4f4;

        svg {
            transform: rotate(-180deg);
        }
    }

}

.stephany__project_stills {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    figure {
        margin-bottom: 1rem;
        border: 1px solid #e0e0e0;
        width: 100%;
        max-width: 375px;

       header {
           padding: 0.5rem;
           display: flex;
           border-bottom: 1px solid #e0e0e0;

           span {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid #e0e0e0;
            margin-left: 0.25rem;
           }
       }
    }

    @media(min-width: 1024px){
        display: flex;
        flex-wrap: wrap;

        .stephany__project_stills__mobile {
            width: calc(33.333% - 1rem);
            max-width: 100%;

            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(8){
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }
        }

        .stephany__project_stills__desktop  {
            display: block;
            width: 100%;
            max-width: 100%;
        }
    }
}

.stephany__footer {
    padding-top: 3rem;
}